<div class="flex mx-auto flex-grow mt-4 flex-col text-gray-400 space-y-4">
    <a title="Dashboard" class="h-10 w-12 dark:text-gray-500 rounded-md flex items-center justify-center"
        routerLink="/dashboard">
        <i class="fa-solid fa-house text-xl"></i>
    </a>
    <a title="Dominios" class="h-10 w-12 dark:text-gray-500 rounded-md flex items-center justify-center"
        routerLink="/dashboard/domain">
        <i class="fa-solid fa-bottle-droplet text-xl"></i>
    </a>
    <a title="Cuenta" class="h-10 w-12 dark:text-gray-500 rounded-md flex items-center justify-center"
        routerLink="/dashboard/account">
        <i class="fa-solid fa-gear text-xl"></i>
    </a>
    <button title="Salir" class="h-10 w-12 dark:text-gray-500 rounded-md flex items-center justify-center"
        (click)="cerrarSesion()">
        <i class="fa-solid fa-right-to-bracket text-xl text-cyan-500"></i>
    </button>
</div>