<div class="w-full dark:bg-gray-900 dark:text-zinc-500 h-screen p-5 pt-8 border-r border-solid border-gray-800">
    <div class="inline-flex dark:text-zinc-500 justify-center">
        <div class="fix fix-col">
            <img src="../../../../../assets/icon.png" class="text-center p-4 font-semibold"
                alt="Descripción de la imagen" />
            <div class='flex justify-center'>
                <h1 class="text-center mt-4 font-semibold text-xl text-teal-500">[Workforce]</h1>
            </div>
        </div>
    </div>
    <nav class="dark:text-fuchsia-50">
        <ul>
            <li class="flex flex-col">
                <a [routerLink]="['/dashboard']" class="text-zinc-500 p-3 hover:text-teal-700">Dashboard</a>
            </li>
        </ul>
        <ul>
            <li class="flex flex-col">
                <a [routerLink]="['/dashboard/domain']" class="text-zinc-500 p-3 hover:text-teal-700">Dominios</a>
            </li>
        </ul>
        <ul>
            <li class="flex flex-col">
                <a [routerLink]="['/dashboard/account']" class="text-zinc-500 p-3 hover:text-teal-700">Aplicaciones</a>
            </li>
        </ul>
        <ul>
            <li class="flex flex-col">
                <a [routerLink]="['/dashboard']" class="text-zinc-500 p-3 hover:text-teal-700">Permisos</a>
            </li>
        </ul>
        <ul>
            <li class="flex flex-col">
                <a [routerLink]="['/dashboard']" class="text-zinc-500 p-3 hover:text-teal-700">Menús</a>
            </li>
        </ul>
    </nav>
    <footer>
        <ul>
            <li>
                <button (click)="cerrarSesion()" class="text-teal-500 p-3 font-bold hover:text-teal-700">Cerrar
                    sesion</button>
            </li>
        </ul>
    </footer>
</div>