<div class="h-16 lg:flex w-full border-b border-gray-200 dark:border-gray-800 hidden px-10">
  <div class="flex h-full text-gray-600 dark:text-gray-400">
    <a routerLink="/dashboard/domain" class="cursor-pointer h-full border-b-2 border-transparent  inline-flex mr-8 items-center">Dominios</a>
  </div>

  <div class="ml-auto flex items-center space-x-7">
    <button class="flex items-center">
      <span class="relative flex-shrink-0">
        <img class="w-7 h-7 rounded-full" src="{{img}}" alt="profile" />
        <span
          class="absolute right-0 -mb-0.5 bottom-0 w-2 h-2 rounded-full bg-green-500 border border-white dark:border-gray-900"></span>
      </span>
      <span class="ml-2">{{name}}</span>
    </button>
  </div>
</div>