<div class="max-w-2xl px-4 sm:py-8 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-white">Dominios</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4">
        <domain-card></domain-card>
        <domain-card></domain-card>
        <domain-card></domain-card>
        <domain-card></domain-card>
        <domain-card></domain-card>
        <domain-card></domain-card>
        <domain-card></domain-card>
        <domain-card></domain-card>
        <domain-card></domain-card>
    </div>
</div>