<div class="bg-slate-900 flex items-center justify-center h-screen">
  <div class="w-[462px] h-auto bg-blue-50 rounded-[10px] border border-sky-700">
    <a routerLink="/">
      <img class="w-[55px] h-14 mx-auto block mt-16" src="../../../assets/icon.png" />
    </a>
    <h1 class="text-black text-xl text-center mt-6">Registro</h1>
    <h4 class="text-black text-sm text-center mt-3 mb-6">Ingresa datos y abre una cuenta</h4>
    <div class="pl-10 pr-10 text-right">
      <input class="bg-white border border-neutral-150 px-4 py-2 m-2 w-full ring-1 rounded-md outline-none"
        placeholder="Correo corporativo o nombre de usuario" formControlName="email" />
      <input type="password"
        class="bg-white border border-neutral-150 px-4 py-2 m-2 w-full ring-1 rounded-md outline-none"
        placeholder="Contraseña" formControlName="email" />
      <input type="password"
        class="bg-white border border-neutral-150 px-4 py-2 m-2 w-full ring-1 rounded-md outline-none"
        placeholder="Confirmar contraseña" formControlName="email" />
      <input class="bg-white border border-neutral-150 px-4 py-2 m-2 w-full ring-1 rounded-md outline-none"
        placeholder="Nombres" formControlName="email" />
      <input class="bg-white border border-neutral-150 px-4 py-2 m-2 w-full ring-1 rounded-md outline-none"
        placeholder="Apellidos" formControlName="email" />
      <input type="date" class="bg-white border border-neutral-150 px-4 py-2 m-2 w-full ring-1 rounded-md outline-none"
        placeholder="Apellidos" formControlName="email" />
      <div class="flex flex-wrap justify-center pt-5 pb-16">
        <a routerLink="/login"
          class="flex items-center h-10 rounded pl-7 pr-7 text-black text-sm mt-4 right-auto m-auto">
          Iniciar sesión
        </a>
        <button class="h-10 bg-[#0f172a] rounded pl-7 pr-7 text-white text-sm mt-4 right-auto m-auto">
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>