<div class="flex bg-white max-w-full text-black p-4 rounded m-2">
    <div class="flex flex-col justify-center">
        <div class="flex ">
            <img width="50" height="50" class="bg-slate-500 rounded-full m-auto" src="../../../../../assets/icon.png" />
            <div class="flex flex-col ml-2">
                <h4 class="text-base">Authorizacion</h4>
                <span
                    class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Activo</span>
            </div>
        </div>
        <div class="flex">
            <div class="flex flex-row">
                <label class="font-bold p-2 m-1">ID: ASKDJHAKSJDHKAJ-</label>
                <button class="hover:bg-slate-200 rounded p-1"><i class="fa-solid fa-copy"></i></button>
            </div>
        </div>
    </div>
</div>