
<div class="bg-white p-6 rounded-lg shadow-sm border border-gray-200">
  <div class="flex items-center justify-between">
    <div>
      <p class="text-sm font-medium text-gray-600">{{name}}</p>
      <p class="text-3xl font-bold text-slate-900">{{description}}</p>
    </div>
    <!--<div [class]="'w-12 h-12 rounded-lg flex items-center justify-center ' + card.iconBg">
      <i [class]="card.icon + ' w-6 h-6 ' + card.iconColor"></i>
    </div>-->
  </div>
  <div class="mt-4">
    <!--<span [class]="'text-sm ' + (card.changeType === 'positive' ? 'text-green-600' : 'text-red-600')">
      <span [class]="'text-sm ' + (card.changeType === 'positive' ? 'text-green-600' : 'text-red-600')">
      {{ card.change }}
    </span>-->
  </div>
</div>

