<div class="relative flex flex-col m-1 text-white bg-slate-800 shadow-md bg-clip-border rounded-xl p-3 justify-center">
    <div class="p-6">
        <div class="flex justify-between">
            <img class="w-[40px] h-[40px] mr-4 object-contain rounded-full bg-white"
                src="../../../../../assets/icon.png" alt="Icono de aplicativo" />
            <button (click)="deleted(id)" class="text-red-600">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        <div class='flex items-center'>
            <h5
                class="block mb-2 mr-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                {{name}}
            </h5>
            <i class="fa-solid fa-copy"></i>
        </div>
        <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
            {{description}}
        </p>
    </div>
    <div class="p-3 pt-0">
        <div class="inline-block">
            <button (click)="detail()"
                class="flex items-center gap-2 px-4 py-2  text-xs font-bold text-center text-white uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-400/10 active:bg-gray-400/20">
                Editar
            </button>
        </div>
    </div>
</div>